body{
    background-color: black;
    color:white;
    padding: 100px;
}

h1{
    text-align: center;
    font-family: fantasy;
    color: white;
    font-size: 40px;
}

textarea{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: black;
    color: 	#A0A0A0;

}

img{
    
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
#brain{
    display: inline-block;
}

.back-to-home{

    text-align: center;
    font-size: 50px;
    color:white;
    padding: 100px
}
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }

.frontallobeimage{
    background-color: #fff;
    border: 1px solid #c8ccd1;
    border-top-color: rgb(200, 204, 209);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(200, 204, 209);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(200, 204, 209);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(200, 204, 209);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

.occipitallobeimage{
    background-color: #fff;
    border: 1px solid #c8ccd1;
    border-top-color: rgb(200, 204, 209);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(200, 204, 209);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(200, 204, 209);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(200, 204, 209);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial; 
}

.parietallobeimage{
    background-color: #fff;
    border: 1px solid #c8ccd1;
    border-top-color: rgb(200, 204, 209);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(200, 204, 209);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(200, 204, 209);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(200, 204, 209);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

.temporallobeimage{
    background-color: #fff;
    border: 1px solid #c8ccd1;
    border-top-color: rgb(200, 204, 209);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(200, 204, 209);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(200, 204, 209);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(200, 204, 209);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

.cerebellumlimage {
    background-color: #fff;
    border: 1px solid #c8ccd1;
    border-top-color: rgb(200, 204, 209);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(200, 204, 209);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(200, 204, 209);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(200, 204, 209);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

.spinalcordlimage{
    background-color: #fff;
    border: 1px solid #c8ccd1;
    border-top-color: rgb(200, 204, 209);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(200, 204, 209);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(200, 204, 209);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(200, 204, 209);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}