body{
    background: white;
}

h1{
    color: black;
    text-align: center;
    font-size: 50px;
    font: 'Times New Roman'; /* We need better font @kezze */
}

p{
    text-align: left;
    font-size: 45px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 40%; */
}

.hide-sections{
    display: none;
}

.fl-info{
    text-align: left;
    position: absolute;
    left:80px; top:5px;
}

.pl-info{
    position: absolute;
    right:80px; top:5px;
}

.ol-info{
    position: absolute;
    left:80px; bottom:5px;
}

.tl-info{
    position: absolute;
    right:80px; bottom:5px;
}

.link-to-game{ 
    text-align: center;
    font-size: 24px;
    font: 'Times New Roman';
}

.back-to-home{
    text-align: center;
    font-size: 24px;
    font: 'Times New Roman';
}

