body{
    background: white;
}

h1{
    color: black;
    text-align: center;
    font-size: 50px;
    font: 'Times New Roman'; /* We need better font @kezze */
}

h2{
    color: black;
    text-align: center;
    font-size: 36;
    font: 'Times New Roman';
}

p{
    text-align: left;
    font-size: 45px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 40%; */
}

.frontallobeimage{
    background-color: #fff;
    border: 1px solid #c8ccd1;
    border-top-color: rgb(200, 204, 209);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(200, 204, 209);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(200, 204, 209);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(200, 204, 209);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

.occipitallobeimage{
    background-color: #fff;
    border: 1px solid #c8ccd1;
    border-top-color: rgb(200, 204, 209);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(200, 204, 209);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(200, 204, 209);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(200, 204, 209);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial; 
}

.parietallobeimage{
    background-color: #fff;
    border: 1px solid #c8ccd1;
    border-top-color: rgb(200, 204, 209);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(200, 204, 209);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(200, 204, 209);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(200, 204, 209);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

.temporallobeimage{
    background-color: #fff;
    border: 1px solid #c8ccd1;
    border-top-color: rgb(200, 204, 209);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(200, 204, 209);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(200, 204, 209);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(200, 204, 209);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}


.fl-info{
    text-align: left;
    /*position: absolute; */
    /*left:80px; top:5px; */
}

.pl-info{
    position: absolute;
    right:80px; top:5px;
}

.ol-info{
    position: absolute;
    left:80px; bottom:5px;
}

.tl-info{
    position: absolute;
    right:80px; bottom:5px;
}

.link-to-game{ 
    text-align: center;
    font-size: 24px;
    font: 'Times New Roman';
}

.back-to-home{
    text-align: center;
    font-size: 24px;
    font: 'Times New Roman';
}

